<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Mockup</title>

  <link rel="stylesheet" href="docs/dev/docs.min.css" type="text/css" >

  <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/es5-shim/es5-sham.js"></script>
    <script src="bower_components/console-polyfill/index.js"></script>
  <![endif]-->

  <script src="node_modules/requirejs/require.js"></script>
  <script src="js/config.js"></script>
  <script>
    window.DEBUG = true;
    require(['mockup-bundles-docs']);
  </script>
</head>

<body data-i18ncatalogurl="/tests/json/i18n.json">
</body>

</html>
