// Patterns uses font based icons instead of images. Those are generated
// with Fontello.com Make sure the fontello folder is placed in your
// style folder

@import "/patternslib/style/fontello/css/fontello.css";

// Assets
//@import url(http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic);
//@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);
// @import url(/style/fonts/font.css);
// @import url(/style/fontello/fontello.css);

// Colours
// $felt: #89AA74;
$felt: #565656;

$colour-accent: #0198E1 !default;
$colour-base: #efefef !default;
$colour-alert: red !default;
$colour-success: green !default;
$colour-notice: #FFFFD6 !default;
$colour-warning: orange !default;
$colour-error: red !default;
$colour-info: $colour-notice !default;

// Font treatment
$base-font-size: 18px;
$base-line-height: 150%;
$font-weight-normal: normal;
$font-weight-bold: bold;

// Glyphs
$glyph-checkbox: "\e2002";
$glyph-checkbox-active: "\e2003";
$glyph-radio-button: "\e2000";
$glyph-radio-button-active: "\e2001";
$glyph-close: "\e2005";

// We use these to control various global styles
$body-font-family: 'Source Sans Pro', sans-serif;
$body-font-weight: $font-weight-normal;
$body-font-style: normal;

// Categories
$cat-behavioural: #717dd7;
$cat-fancy-stuff: #bf9230;
$cat-form: #be9ac1;
$cat-layout: #a1ced2;

// Responsive variables

$break-small: 768px !default;
$break-large: 769px !default;


