/develop-eggs
/eggs
/fake-eggs
/bin
/parts
/downloads
/var
/build
/dist
/local.cfg
/*.egg-info
/.installed.cfg
*.pyc
/.Python
/include
/lib
/.project
.ropeproject
/.pydevproject
.ropeproject
/.mr.developer.cfg
/src/*
*.mo
docs/Makefile
docs/make.bat
docs/doctrees
docs/html
/Products/CMFPlone/controlpanel/.ropeproject/config.py
/Products/CMFPlone/controlpanel/.ropeproject/globalnames
/Products/CMFPlone/controlpanel/.ropeproject/history
/Products/CMFPlone/controlpanel/.ropeproject/objectdb
/Products/CMFPlone/static/.fontello
/Products/CMFPlone/tests/robot/robodoc/_robot
