/develop-eggs
/eggs
/fake-eggs
/bin
/parts
/downloads
/var
/build
/dist
/local.cfg
/*.egg-info
/.installed.cfg
*.pyc
/.Python
/include
/lib
/.project
/.pydevproject
/.mr.developer.cfg
/src/plone*
/src/collective*
*.mo
docs/Makefile
docs/make.bat
docs/doctrees
docs/html
