[buildout]
extends =
    http://dist.plone.org/release/4.3-latest/versions.cfg
develop = .

parts = test

[versions]
Products.CMFPlone = 

[test]
recipe = zc.recipe.testrunner
eggs =
    Products.CMFPlone [test]
defaults = ['-s', 'Products.CMFPlone']
