@import url(s5_core.css); /* required to make the slide show run at all */
@import url(s5_framing.css); /* sets basic placement and size of slide components */
@import url(s5_pretty.css);  /* stuff that makes the slides look better than blah */