body {
  background: #f4f4f4;
}
.admin {
  background: rgba(255,255,255,.95);
  max-width: 800px;
}
#go-to-site-link,
#go-to-site-link:visited,
#go-to-site-link:active {
  color: #fff;
}
/* Fix classic toolbar scrolling on small height screens */
#edit-zone {
  max-height: 100vh;
  overflow-y: auto;
}
