components/**/*.coffee
components/**/*.map
components/**/*.md
components/**/*.sass
components/**/*.scss
components/**/*.ts
components/**/*.yml
components/**/*bower.json
components/**/.*
components/**/Gemfile
components/**/Gruntfile.js
components/**/Makefile
components/**/coffeelint.json
components/**/component.json
components/**/examples
components/**/gulpfile.js
components/**/karma*
components/**/package.json
components/**/shims.json
components/**/test
components/**/tests
components/AnythingSlider/
components/ace-builds/demo/
components/ace-builds/src-min-noconflict/
components/ace-builds/src-min/
components/ace-builds/src-noconflict/
components/ace-builds/textarea/
components/almond/
components/bootstrap/grunt
components/chosen/
components/doc-ready/
components/eventEmitter/
components/eventie/
components/fullcalendar/
components/get-size/
components/get-style-property/
components/google-code-prettify/
components/imagesloaded/
components/jcrop/
components/jqtree/_entries
components/jqtree/_examples
components/jqtree/static
components/jquery-placeholder/
components/jquery-textchange/
components/jquery.recurrenceinput.js/*.rst
components/jquery.recurrenceinput.js/*.txt
components/jquery.recurrenceinput.js/.*
components/jquery.recurrenceinput.js/Screenshot*
components/jquery.recurrenceinput.js/demo/*
components/jquery.recurrenceinput.js/lib/*.gif
components/jquery.recurrenceinput.js/lib/*.png
components/jquery.recurrenceinput.js/lib/jquery-1.7.2.js
components/jquery.recurrenceinput.js/src/*.png
components/jquery.recurrenceinput.js/test*
components/jquery.tinymce/
components/logging/LICENSE.txt
components/logging/grunt.js
components/masonry/
components/matches-selector/
components/modernizr/
components/moment-timezone/
components/moment/src/lib/utils/abs-ceil.js
components/outlayer/
components/parsleyjs/
components/patternslib/*.js
components/patternslib/*.txt
components/patternslib/demo/
components/patternslib/docs/
components/patternslib/jshintrc
components/patternslib/jshintrc-tests
components/patternslib/lib/
components/patternslib/src/*.js
components/patternslib/src/legacy/*
components/patternslib/src/lib/*
components/patternslib/src/pat/*
components/patternslib/style/
components/photoswipe/
components/pickadate/lib/compressed
components/pickadate/lib/themes-source/
components/pickadate/version-bump.js
components/pickadate/version-commit.js
components/pikaday/
components/prefixfree
components/requirejs-tpl-jcbrand/
components/showdown/
components/slides/
components/spectrum/
components/tinymce-builded/.eslintrc
components/tinymce-builded/.gitignore
components/tinymce-builded/.jscsrc
components/tinymce-builded/.jshintrc
components/tinymce-builded/LICENSE.TXT
components/tinymce-builded/changelog.txt
components/tinymce-builded/tools/saucelabs/
components/tinymce-builded/tools/tasks/
components/validate/
