.clearfix:before,
.clearfix:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.contentViews:before,
.contentViews:after,
#contentActionMenus:before,
#contentActionMenus:after,
#portal-personaltools-wrapper .actionMenu:before,
#portal-personaltools-wrapper .actionMenu:after,
.contentViews:before,
.contentViews:after,
#contentActionMenus:before,
#contentActionMenus:after,
#portal-personaltools-wrapper:before,
#portal-personaltools-wrapper:after,
#plone-document-byline .actionMenu:before,
#plone-document-byline .actionMenu:after,
#plone-document-byline:before,
#plone-document-byline:after {
  content: " ";
  display: table;
}
.clearfix:after,
.form-horizontal .form-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.contentViews:after,
#contentActionMenus:after,
#portal-personaltools-wrapper .actionMenu:after,
.contentViews:after,
#contentActionMenus:after,
#portal-personaltools-wrapper:after,
#plone-document-byline .actionMenu:after,
#plone-document-byline:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.affix {
  position: fixed;
}
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  /* IE8-9 */
  line-height: normal;
}
input[type="file"] {
  display: block;
}
input[type="range"] {
  display: block;
  width: 100%;
}
select[multiple],
select[size] {
  height: auto;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}
textarea.form-control {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}
input[type="date"] {
  line-height: 34px;
}
.form-group {
  margin-bottom: 15px;
}
.radio,
.checkbox {
  display: block;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
}
.radio label,
.checkbox label {
  display: inline;
  font-weight: normal;
  cursor: pointer;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}
.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
.radio[disabled],
.radio-inline[disabled],
.checkbox[disabled],
.checkbox-inline[disabled],
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"],
fieldset[disabled] .radio,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}
.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select.input-sm {
  height: 30px;
  line-height: 30px;
}
textarea.input-sm,
select[multiple].input-sm {
  height: auto;
}
.input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
select.input-lg {
  height: 46px;
  line-height: 46px;
}
textarea.input-lg,
select[multiple].input-lg {
  height: auto;
}
.has-feedback {
  position: relative;
}
.has-feedback .form-control {
  padding-right: 42.5px;
}
.has-feedback .form-control-feedback {
  position: absolute;
  top: 25px;
  right: 0;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
  color: #3c763d;
}
.has-success .form-control {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .form-control:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
.has-success .input-group-addon {
  color: #3c763d;
  border-color: #3c763d;
  background-color: #dff0d8;
}
.has-success .form-control-feedback {
  color: #3c763d;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline {
  color: #8a6d3b;
}
.has-warning .form-control {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-warning .form-control:focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}
.has-warning .input-group-addon {
  color: #8a6d3b;
  border-color: #8a6d3b;
  background-color: #fcf8e3;
}
.has-warning .form-control-feedback {
  color: #8a6d3b;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
  color: #a94442;
}
.has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.has-error .input-group-addon {
  color: #a94442;
  border-color: #a94442;
  background-color: #f2dede;
}
.has-error .form-control-feedback {
  color: #a94442;
}
.form-control-static {
  margin-bottom: 0;
}
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .form-inline .input-group > .form-control {
    width: 100%;
  }
  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    vertical-align: middle;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    float: none;
    margin-left: 0;
  }
  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}
.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
}
.form-horizontal .radio,
.form-horizontal .checkbox {
  min-height: 27px;
}
.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}
.form-horizontal .form-control-static {
  padding-top: 7px;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: right;
  }
}
.form-horizontal .has-feedback .form-control-feedback {
  top: 0;
  right: 15px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #999999;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.open > .dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}
.dropdown-menu-right {
  left: auto;
  right: 0;
}
.dropdown-menu-left {
  left: 0;
  right: auto;
}
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #999999;
}
.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px solid;
  content: "";
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}
@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    left: auto;
    right: 0;
  }
  .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto;
  }
}
.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.nav > li.disabled > a {
  color: #999999;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #999999;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #428bca;
}
.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav > li > a > img {
  max-width: none;
}
.nav-tabs {
  border-bottom: 1px solid #dddddd;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
  cursor: default;
}
.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs.nav-justified > li {
  float: none;
}
.nav-tabs.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #dddddd;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #ffffff;
  }
}
.nav-pills > li {
  float: left;
}
.nav-pills > li > a {
  border-radius: 4px;
}
.nav-pills > li + li {
  margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #428bca;
}
.nav-stacked > li {
  float: none;
}
.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}
.nav-justified {
  width: 100%;
}
.nav-justified > li {
  float: none;
}
.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}
.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs-justified {
  border-bottom: 0;
}
.nav-tabs-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
  border: 1px solid #dddddd;
}
@media (min-width: 768px) {
  .nav-tabs-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs-justified > .active > a,
  .nav-tabs-justified > .active > a:hover,
  .nav-tabs-justified > .active > a:focus {
    border-bottom-color: #ffffff;
  }
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}
@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}
.navbar-collapse {
  max-height: 340px;
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}
.navbar-collapse.in {
  overflow-y: auto;
}
@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px;
}
@media (min-width: 768px) {
  .navbar-static-top {
    border-radius: 0;
  }
}
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}
@media (min-width: 768px) {
  .navbar-fixed-top,
  .navbar-fixed-bottom {
    border-radius: 0;
  }
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}
.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}
.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}
.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.navbar-toggle:focus {
  outline: none;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}
.navbar-nav {
  margin: 7.5px -15px;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu > li > a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-nav .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
  }
}
@media (min-width: 768px) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
  }
}
.navbar-form {
  margin-left: -15px;
  margin-right: -15px;
  padding: 10px 15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  margin-top: 8px;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .navbar-form .input-group > .form-control {
    width: 100%;
  }
  .navbar-form .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .radio,
  .navbar-form .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    vertical-align: middle;
  }
  .navbar-form .radio input[type="radio"],
  .navbar-form .checkbox input[type="checkbox"] {
    float: none;
    margin-left: 0;
  }
  .navbar-form .has-feedback .form-control-feedback {
    top: 0;
  }
}
@media (max-width: 767px) {
  .navbar-form .form-group {
    margin-bottom: 5px;
  }
}
@media (min-width: 768px) {
  .navbar-form {
    width: auto;
    border: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-form.navbar-right:last-child {
    margin-right: -15px;
  }
}
.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.navbar-btn {
  margin-top: 8px;
  margin-bottom: 8px;
}
.navbar-btn.btn-sm {
  margin-top: 10px;
  margin-bottom: 10px;
}
.navbar-btn.btn-xs {
  margin-top: 14px;
  margin-bottom: 14px;
}
.navbar-text {
  margin-top: 15px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .navbar-text {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
  }
  .navbar-text.navbar-right:last-child {
    margin-right: 0;
  }
}
.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
  color: #777777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #777777;
}
.navbar-default .navbar-nav > li > a {
  color: #777777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333333;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555555;
  background-color: #e7e7e7;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #dddddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #888888;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #e7e7e7;
  color: #555555;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777777;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: transparent;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555555;
    background-color: #e7e7e7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-default .navbar-link {
  color: #777777;
}
.navbar-default .navbar-link:hover {
  color: #333333;
}
.navbar-inverse {
  background-color: #222222;
  border-color: #080808;
}
.navbar-inverse .navbar-brand {
  color: #999999;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #999999;
}
.navbar-inverse .navbar-nav > li > a {
  color: #999999;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #080808;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: #333333;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #333333;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #101010;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #080808;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #999999;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
  }
}
.navbar-inverse .navbar-link {
  color: #999999;
}
.navbar-inverse .navbar-link:hover {
  color: #ffffff;
}
@font-face {
  font-family: 'fontello';
  src: url('fonts/plone-fontello.eot?44831494');
  src: url('fonts/plone-fontello.eot?44831494#iefix') format('embedded-opentype'), url('fonts/plone-fontello.woff?44831494') format('woff'), url('fonts/plone-fontello.ttf?44831494') format('truetype'), url('fonts/plone-fontello.svg?44831494#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?13758537#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-plus:before,
.icon-plone-contentmenu-factories:before {
  content: '\e807';
}
/* '' */
.icon-resize-horizontal:before {
  content: '\e804';
}
/* '' */
.icon-down-dir:before {
  content: '\e800';
}
/* '' */
.icon-up-dir:before {
  content: '\e801';
}
/* '' */
.icon-right-dir:before {
  content: '\e80a';
}
/* '' */
.icon-ellipsis:before {
  content: '\e80c';
}
/* '' */
.icon-dot-circled:before,
.icon-plone-contentmenu-workflow:before {
  content: '\e809';
}
/* '' */
.icon-pencil:before,
.icon-edit:before {
  content: '\e806';
}
/* '' */
.icon-user:before {
  content: '\e802';
}
/* '' */
.icon-group:before,
.icon-local_roles:before {
  content: '\e808';
}
/* '' */
.icon-view-mode:before {
  content: '\e80d';
}
/* '' */
.icon-folder-open:before,
.icon-folderContents:before {
  content: '\e803';
}
/* '' */
.icon-resize-vertical:before {
  content: '\e80b';
}
/* '' */
.icon-eye:before,
.icon-view:before {
  content: '\e805';
}
/* '' */
/*TOOLBAR*/
.contentViews {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  margin: 7.5px -15px;
}
.contentViews > li {
  position: relative;
  display: block;
}
.contentViews > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.contentViews > li > a:hover,
.contentViews > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.contentViews > li.disabled > a {
  color: #999999;
}
.contentViews > li.disabled > a:hover,
.contentViews > li.disabled > a:focus {
  color: #999999;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
.contentViews .open > a,
.contentViews .open > a:hover,
.contentViews .open > a:focus {
  background-color: #eeeeee;
  border-color: #428bca;
}
.contentViews .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.contentViews > li > a > img {
  max-width: none;
}
.contentViews > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (max-width: 767px) {
  .contentViews .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  .contentViews .open .dropdown-menu > li > a,
  .contentViews .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .contentViews .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .contentViews .open .dropdown-menu > li > a:hover,
  .contentViews .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
@media (min-width: 768px) {
  .contentViews {
    float: left;
    margin: 0;
  }
  .contentViews > li {
    float: left;
  }
  .contentViews > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .contentViews.navbar-right:last-child {
    margin-right: -15px;
  }
}
#contentActionMenus {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  margin: 7.5px -15px;
}
#contentActionMenus > li {
  position: relative;
  display: block;
}
#contentActionMenus > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
#contentActionMenus > li > a:hover,
#contentActionMenus > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
#contentActionMenus > li.disabled > a {
  color: #999999;
}
#contentActionMenus > li.disabled > a:hover,
#contentActionMenus > li.disabled > a:focus {
  color: #999999;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
#contentActionMenus .open > a,
#contentActionMenus .open > a:hover,
#contentActionMenus .open > a:focus {
  background-color: #eeeeee;
  border-color: #428bca;
}
#contentActionMenus .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
#contentActionMenus > li > a > img {
  max-width: none;
}
#contentActionMenus > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (max-width: 767px) {
  #contentActionMenus .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  #contentActionMenus .open .dropdown-menu > li > a,
  #contentActionMenus .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  #contentActionMenus .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  #contentActionMenus .open .dropdown-menu > li > a:hover,
  #contentActionMenus .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
@media (min-width: 768px) {
  #contentActionMenus {
    float: left;
    margin: 0;
  }
  #contentActionMenus > li {
    float: left;
  }
  #contentActionMenus > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #contentActionMenus.navbar-right:last-child {
    margin-right: -15px;
  }
}
#portal-personaltools-wrapper .actionMenu {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  margin: 7.5px -15px;
}
#portal-personaltools-wrapper .actionMenu > li {
  position: relative;
  display: block;
}
#portal-personaltools-wrapper .actionMenu > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
#portal-personaltools-wrapper .actionMenu > li > a:hover,
#portal-personaltools-wrapper .actionMenu > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
#portal-personaltools-wrapper .actionMenu > li.disabled > a {
  color: #999999;
}
#portal-personaltools-wrapper .actionMenu > li.disabled > a:hover,
#portal-personaltools-wrapper .actionMenu > li.disabled > a:focus {
  color: #999999;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
#portal-personaltools-wrapper .actionMenu .open > a,
#portal-personaltools-wrapper .actionMenu .open > a:hover,
#portal-personaltools-wrapper .actionMenu .open > a:focus {
  background-color: #eeeeee;
  border-color: #428bca;
}
#portal-personaltools-wrapper .actionMenu .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
#portal-personaltools-wrapper .actionMenu > li > a > img {
  max-width: none;
}
#portal-personaltools-wrapper .actionMenu > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (max-width: 767px) {
  #portal-personaltools-wrapper .actionMenu .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  #portal-personaltools-wrapper .actionMenu .open .dropdown-menu > li > a,
  #portal-personaltools-wrapper .actionMenu .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  #portal-personaltools-wrapper .actionMenu .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  #portal-personaltools-wrapper .actionMenu .open .dropdown-menu > li > a:hover,
  #portal-personaltools-wrapper .actionMenu .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
@media (min-width: 768px) {
  #portal-personaltools-wrapper .actionMenu {
    float: left;
    margin: 0;
  }
  #portal-personaltools-wrapper .actionMenu > li {
    float: left;
  }
  #portal-personaltools-wrapper .actionMenu > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #portal-personaltools-wrapper .actionMenu.navbar-right:last-child {
    margin-right: -15px;
  }
}
@media (min-width: 768px) {
  #portal-personaltools-wrapper .actionMenu {
    float: right !important;
  }
}
@media (min-width: 768px) {
  .navbar-collapse #portal-personaltools-wrapper .actionMenu:last-child {
    margin-right: -15px;
  }
}
.actionMenuSelected {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #999999;
}
.contentViews {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  margin: 7.5px -15px;
}
.contentViews > li {
  position: relative;
  display: block;
}
.contentViews > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.contentViews > li > a:hover,
.contentViews > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.contentViews > li.disabled > a {
  color: #999999;
}
.contentViews > li.disabled > a:hover,
.contentViews > li.disabled > a:focus {
  color: #999999;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
.contentViews .open > a,
.contentViews .open > a:hover,
.contentViews .open > a:focus {
  background-color: #eeeeee;
  border-color: #428bca;
}
.contentViews .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.contentViews > li > a > img {
  max-width: none;
}
.contentViews > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (max-width: 767px) {
  .contentViews .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  .contentViews .open .dropdown-menu > li > a,
  .contentViews .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .contentViews .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  .contentViews .open .dropdown-menu > li > a:hover,
  .contentViews .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
@media (min-width: 768px) {
  .contentViews {
    float: left;
    margin: 0;
  }
  .contentViews > li {
    float: left;
  }
  .contentViews > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .contentViews.navbar-right:last-child {
    margin-right: -15px;
  }
}
#contentActionMenus {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  margin: 7.5px -15px;
}
#contentActionMenus > li {
  position: relative;
  display: block;
}
#contentActionMenus > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
#contentActionMenus > li > a:hover,
#contentActionMenus > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
#contentActionMenus > li.disabled > a {
  color: #999999;
}
#contentActionMenus > li.disabled > a:hover,
#contentActionMenus > li.disabled > a:focus {
  color: #999999;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
#contentActionMenus .open > a,
#contentActionMenus .open > a:hover,
#contentActionMenus .open > a:focus {
  background-color: #eeeeee;
  border-color: #428bca;
}
#contentActionMenus .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
#contentActionMenus > li > a > img {
  max-width: none;
}
#contentActionMenus > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (max-width: 767px) {
  #contentActionMenus .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  #contentActionMenus .open .dropdown-menu > li > a,
  #contentActionMenus .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  #contentActionMenus .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  #contentActionMenus .open .dropdown-menu > li > a:hover,
  #contentActionMenus .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
@media (min-width: 768px) {
  #contentActionMenus {
    float: left;
    margin: 0;
  }
  #contentActionMenus > li {
    float: left;
  }
  #contentActionMenus > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #contentActionMenus.navbar-right:last-child {
    margin-right: -15px;
  }
}
#portal-personaltools-wrapper {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  margin: 7.5px -15px;
  /*
    @media (min-width: @grid-float-breakpoint) {
      .pull-right();
    }
    */
}
#portal-personaltools-wrapper > li {
  position: relative;
  display: block;
}
#portal-personaltools-wrapper > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
#portal-personaltools-wrapper > li > a:hover,
#portal-personaltools-wrapper > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
#portal-personaltools-wrapper > li.disabled > a {
  color: #999999;
}
#portal-personaltools-wrapper > li.disabled > a:hover,
#portal-personaltools-wrapper > li.disabled > a:focus {
  color: #999999;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
#portal-personaltools-wrapper .open > a,
#portal-personaltools-wrapper .open > a:hover,
#portal-personaltools-wrapper .open > a:focus {
  background-color: #eeeeee;
  border-color: #428bca;
}
#portal-personaltools-wrapper .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
#portal-personaltools-wrapper > li > a > img {
  max-width: none;
}
#portal-personaltools-wrapper > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (max-width: 767px) {
  #portal-personaltools-wrapper .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  #portal-personaltools-wrapper .open .dropdown-menu > li > a,
  #portal-personaltools-wrapper .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  #portal-personaltools-wrapper .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  #portal-personaltools-wrapper .open .dropdown-menu > li > a:hover,
  #portal-personaltools-wrapper .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
@media (min-width: 768px) {
  #portal-personaltools-wrapper {
    float: left;
    margin: 0;
  }
  #portal-personaltools-wrapper > li {
    float: left;
  }
  #portal-personaltools-wrapper > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #portal-personaltools-wrapper.navbar-right:last-child {
    margin-right: -15px;
  }
}
/*
.navbar-collapse {
  @media (min-width: @grid-float-breakpoint) {
    #portal-personaltools-wrapper .actionMenu:last-child {
      margin-right: -@navbar-padding-horizontal;
    }
  }
}
*/
.actionMenuSelected {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #999999;
}
/* Anonymous user toolbar */
#edit-zone {
  min-height: 20px;
  border: 0px;
}
#edit-zone .actionMenu > li > a {
  padding-top: 2px;
  padding-bottom: 2px;
}
/* Authenticated user toolbar */
body.userrole-authenticated {
  padding-top: 0;
}
.userrole-authenticated #edit-zone {
  background: rgba(35, 35, 35, 0.9);
  min-height: 50px;
  border: 0px;
}
.userrole-authenticated #edit-zone .actionMenu > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (min-width: 767px) {
  .actionMenu > li > a {
    padding: 5px;
  }
  .userrole-authenticated .actionMenu > li > a {
    padding: 15px;
  }
}
#edit-zone.navbar-fixed-left {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  border-width: 0 0 1px;
  z-index: 1030;
  width: 60px;
  height: 100%;
}
@media (min-width: 768px) {
  #edit-zone.navbar-fixed-left {
    border-radius: 0;
  }
}
#edit-zone.navbar-fixed-left > .container {
  width: auto;
  padding: 0;
  margin: 0;
}
#edit-zone.navbar-fixed-left .contentViews > li,
#edit-zone.navbar-fixed-left #contentActionMenus > li,
#edit-zone.navbar-fixed-left #portal-personaltools-wrapper .actionMenu > li {
  float: none !important;
  position: static;
  position: initial;
}
#edit-zone.navbar-fixed-left .contentViews > li > a,
#edit-zone.navbar-fixed-left #contentActionMenus > li > a,
#edit-zone.navbar-fixed-left #portal-personaltools-wrapper .actionMenu > li > a {
  position: static;
  position: initial;
  letter-spacing: -0.025em;
}
#edit-zone.navbar-fixed-left .caret {
  border-left: 4px solid;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  position: absolute;
  right: 0;
  margin-top: -18px;
  opacity: .8;
}
#edit-zone.navbar-fixed-left .dropdown-menu {
  background: rgba(51, 51, 51, 0.9);
  margin: 0;
  border-radius: 0;
  top: 0;
  padding: 0;
  border: 0;
  left: 60px;
  height: 100%;
  overflow: hidden;
  overflow-y: visible;
}
#edit-zone.navbar-fixed-left .dropdown-menu ul {
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 10px;
  padding-top: 10px;
}
#edit-zone.navbar-fixed-left .dropdown-menu li:first-child ul {
  padding-top: 0;
  margin-top: 0;
  border-top: 0;
}
#edit-zone.navbar-fixed-left .dropdown.open:after {
  border-right: 6px solid;
  border-bottom: 6px solid transparent;
  border-top: 6px solid transparent;
  position: absolute;
  right: 0;
  margin-top: -31px;
  opacity: 1;
  content: "";
}
#edit-zone.navbar-fixed-left .navbar-collapse {
  margin-left: -15px;
  margin-right: -15px;
}
#edit-zone.navbar-fixed-left .dropdown-header {
  font-weight: bold;
  font-size: inherit;
  padding: 0;
}
#edit-zone.navbar-fixed-left .dropdown-header > a {
  color: #07c;
}
#edit-zone.navbar-fixed-left .dropdown-header > span {
  padding: 8px;
  display: block;
}
#edit-zone.navbar-fixed-left.expanded {
  width: 180px;
}
#edit-zone.navbar-fixed-left.expanded .text-toolbar {
  position: relative;
  width: auto;
  height: auto;
}
#edit-zone.navbar-fixed-left.expanded .contentViews,
#edit-zone.navbar-fixed-left.expanded #contentActionMenus,
#edit-zone.navbar-fixed-left.expanded #portal-personaltools-wrapper {
  float: none !important;
  margin-right: 0 !important;
}
#edit-zone.navbar-fixed-left.expanded .caret {
  margin-top: 7px;
}
#edit-zone.navbar-fixed-left.expanded .dropdown-menu {
  left: 180px;
}
#edit-zone.navbar-fixed-top.expanded .text-toolbar {
  position: relative;
  width: auto;
  height: auto;
  display: inline-block;
}
#edit-zone.compressed {
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  background-color: transparent !important;
}
#edit-zone.compressed.navbar-fixed-top {
  width: 60px;
  /*for fixed top compressed*/
}
#edit-zone.compressed .plone-logo > *:last-child {
  margin-left: 0;
}
#edit-zone.compressed .navbar-header {
  background: transparent !important;
}
#edit-zone {
  /*remove side paddings*/
}
#edit-zone .container {
  padding-left: 0;
  padding-right: 0;
}
#edit-zone a {
  color: #fff;
  padding: 13px 16px !important;
  opacity: .9;
}
#edit-zone a + ul a {
  padding: 8px !important;
  display: block;
}
#edit-zone a:hover,
#edit-zone a:focus,
#edit-zone .open > a,
#edit-zone .selected a {
  background: #3bf !important;
  opacity: .9;
  text-decoration: none;
}
#edit-zone [class^="icon-"]:before,
#edit-zone [class*=" icon-"]:before {
  font-size: 20px;
}
#edit-zone [class^="icon-"].state-published {
  color: #45cf45;
}
#edit-zone [class^="icon-"].state-private {
  color: #f9352f;
}
#edit-zone [class^="icon-"].state-pending {
  color: #ffb03f;
}
.text-toolbar {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
/*pretty*/
#edit-zone .contentViews {
  background: rgba(0, 0, 0, 0.15);
}
#edit-zone .dropdown-menu,
#edit-zone .navbar-fixed-left {
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.25);
}
.plone-logo > *:last-child {
  margin-left: 0;
}
#edit-zone .actionMenuSelected,
#edit-zone #contextDefaultPageDisplay {
  padding: 8px;
  font-size: 100%;
  color: #999999;
}
#edit-zone.navbar-fixed-left {
  z-index: 51;
}
/*switch*/
@media (min-width: 768px) {
  #edit-zone .navbar-header {
    background: #07c;
  }
  #edit-zone .navbar-header:after {
    content: "";
    border-top: 4px solid #07c;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    left: 25px;
    margin-top: 0;
    opacity: 1;
    z-index: 1;
  }
  #edit-zone .navbar-header:hover:after {
    border-top-color: pink;
  }
  #edit-zone .navbar-toggle {
    display: inline-block !important;
    margin: 0;
    border: 0;
    border-radius: 0;
    padding: 13px 18px;
    float: none;
  }
  #edit-zone .navbar-toggle:hover,
  #edit-zone .navbar-togglefocus {
    background: pink;
  }
  .navbar-header {
    float: none !important;
  }
}
@media (max-width: 767px) {
  #edit-zone .navbar-collapse {
    max-height: none;
  }
}
/*icons */
/*views*/
/*views*/
/* toolbar on top, just in case */
#edit-zone.navbar-fixed-top .navbar-header {
  float: left !important;
}
#edit-zone.navbar-fixed-top .navbar-header:after {
  content: "";
  border-left: 4px solid red;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  position: absolute;
  left: 60pxpx;
  margin-top: -31px;
  opacity: 1;
  z-index: 1;
}
#edit-zone.navbar-fixed-top .dropdown-menu {
  background: rgba(51, 51, 51, 0.9);
  margin: 0;
  border-radius: 0;
  padding: 0;
  border: 0;
}
#edit-zone.navbar-fixed-top .dropdown-menu ul {
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 10px;
  padding-top: 10px;
}
#edit-zone.navbar-fixed-top .dropdown-menu li:first-child ul {
  padding-top: 0;
  margin-top: 0;
  border-top: 0;
}
#edit-zone.navbar-fixed-top .dropdown-header {
  font-weight: bold;
  font-size: inherit;
  padding: 0;
}
#edit-zone.navbar-fixed-top .dropdown-header > a {
  color: #07c;
}
#edit-zone.navbar-fixed-top .dropdown-header > span {
  padding: 8px;
  display: block;
}
#edit-zone.navbar-fixed-top {
  width: 100%;
  height: auto;
}
/*mobile*/
@media (min-width: 768px) {
  border-radius: 0;
}
/*Toolbar margin to make it next to the content*/
#edit-zone.navbar-fixed-left ~ .outer-wrapper,
#edit-zone.navbar-fixed-left ~ #portal-footer-wrapper {
  margin-left: 60px;
}
/*we need to activate it just with edit-zone activated*/
#edit-zone.navbar-fixed-top ~ .outer-wrapper {
  margin-top: 60px;
}
/*we need to activate it just with edit-zone activated*/
#edit-zone.navbar-fixed-left.compressed ~ .outer-wrapper,
#edit-zone.navbar-fixed-left.compressed ~ #portal-footer-wrapper {
  margin-left: 0;
}
/*we need to activate it just with edit-zone activated*/
#edit-zone.navbar-fixed-top.compressed ~ .outer-wrapper {
  margin-top: 0;
}
/*cancells outer-wrapper margin on compressed bar*/
/* before on barceloneta */
/* PLONE LESS*/
#plone-document-byline .actionMenu {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  margin: 7.5px -15px;
}
#plone-document-byline .actionMenu > li {
  position: relative;
  display: block;
}
#plone-document-byline .actionMenu > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
#plone-document-byline .actionMenu > li > a:hover,
#plone-document-byline .actionMenu > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
#plone-document-byline .actionMenu > li.disabled > a {
  color: #999999;
}
#plone-document-byline .actionMenu > li.disabled > a:hover,
#plone-document-byline .actionMenu > li.disabled > a:focus {
  color: #999999;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
#plone-document-byline .actionMenu .open > a,
#plone-document-byline .actionMenu .open > a:hover,
#plone-document-byline .actionMenu .open > a:focus {
  background-color: #eeeeee;
  border-color: #428bca;
}
#plone-document-byline .actionMenu .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
#plone-document-byline .actionMenu > li > a > img {
  max-width: none;
}
#plone-document-byline .actionMenu > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (max-width: 767px) {
  #plone-document-byline .actionMenu .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  #plone-document-byline .actionMenu .open .dropdown-menu > li > a,
  #plone-document-byline .actionMenu .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  #plone-document-byline .actionMenu .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  #plone-document-byline .actionMenu .open .dropdown-menu > li > a:hover,
  #plone-document-byline .actionMenu .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
@media (min-width: 768px) {
  #plone-document-byline .actionMenu {
    float: left;
    margin: 0;
  }
  #plone-document-byline .actionMenu > li {
    float: left;
  }
  #plone-document-byline .actionMenu > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #plone-document-byline .actionMenu.navbar-right:last-child {
    margin-right: -15px;
  }
}
@media (min-width: 768px) {
  #plone-document-byline .actionMenu {
    float: right !important;
  }
}
.navbar-collapse {
  max-height: inherit;
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px) {
  .navbar-collapse #plone-document-byline .actionMenu:last-child {
    margin-right: -15px;
  }
}
#plone-document-byline {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  margin: 7.5px -15px;
}
#plone-document-byline > li {
  position: relative;
  display: block;
}
#plone-document-byline > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
#plone-document-byline > li > a:hover,
#plone-document-byline > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
#plone-document-byline > li.disabled > a {
  color: #999999;
}
#plone-document-byline > li.disabled > a:hover,
#plone-document-byline > li.disabled > a:focus {
  color: #999999;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
#plone-document-byline .open > a,
#plone-document-byline .open > a:hover,
#plone-document-byline .open > a:focus {
  background-color: #eeeeee;
  border-color: #428bca;
}
#plone-document-byline .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
#plone-document-byline > li > a > img {
  max-width: none;
}
#plone-document-byline > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
@media (max-width: 767px) {
  #plone-document-byline .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
  #plone-document-byline .open .dropdown-menu > li > a,
  #plone-document-byline .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  #plone-document-byline .open .dropdown-menu > li > a {
    line-height: 20px;
  }
  #plone-document-byline .open .dropdown-menu > li > a:hover,
  #plone-document-byline .open .dropdown-menu > li > a:focus {
    background-image: none;
  }
}
@media (min-width: 768px) {
  #plone-document-byline {
    float: left;
    margin: 0;
  }
  #plone-document-byline > li {
    float: left;
  }
  #plone-document-byline > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  #plone-document-byline.navbar-right:last-child {
    margin-right: -15px;
  }
}
#edit-zone.navbar-fixed-left #plone-document-byline .actionMenu > li {
  float: none !important;
  position: static;
  position: initial;
}
#edit-zone.navbar-fixed-left #plone-document-byline .actionMenu > li > a {
  position: static;
  position: initial;
}
#edit-zone.navbar-fixed-left.expanded #plone-document-byline {
  float: none !important;
  margin-right: 0 !important;
}
.icon-info-circled:before {
  content: '\e811';
}
/* '' */
/*edit-zone info*/
#edit-zone a + ul li:not(.dropdown-header) > span {
  color: #ccc;
  padding: 8px;
  display: block;
}
#edit-zone a + ul li:not(.dropdown-header) > span a {
  display: inline;
  color: #428bca;
  padding: 0 !important;
}
#edit-zone a + ul li:not(.dropdown-header) > span a:hover {
  text-decoration: underline;
  background: none !important;
}
