.pat-livesearch{
    min-width: 230px;
    position:relative;

    .livesearch-results{
        display:none;
        position: absolute;
        background-color: #ffffff;
        z-index: 100;

        border-right: 1px solid #64bee8;
        border-bottom: 1px solid #64bee8;
        border-left: 1px solid #64bee8;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(100, 190, 232, 0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(100, 190, 232, 0.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(100, 190, 232, 0.6);

        margin: 0;
        padding: 0;
        list-style: none;

        li{
            white-space: normal;
            margin: 0;
            padding: 5px;
            cursor: pointer;

            &.load-more{
                .next{
                    float: right;
                }
                .prev{
                    float: left;
                }
                .page{
                    text-align: center;
                }
            }
        }
        li:hover,li.selected{
            background-color: #e6e4e4;
        }
    }
}