#kss-spinner {
    display:none;
    width: 20px;
    height: 20px;
    position: fixed;
    background-position: center middle;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
}

.inlineEditable {
    padding: 1px;
}

body.kssActive .inlineEditable:hover {
    padding: 0;
    border-top: 1px solid #8cacbb;
    border-left: 1px solid #8cacbb;
    border-right: 1px solid #8cacbb;
    border-bottom: 1px solid #8cacbb;
    cursor: text;
    background-image: url(edit_inline.gif);
    background-position: top right;
    background-repeat: no-repeat;
}

body.kssActive h1.inlineEditable:hover {
    padding-bottom: 1px;
}

.inlineForm .formHelp,
.inlineForm .fieldRequired,
.inlineForm label {
    display: none;
}

.inlineForm #archetypes-fieldname-title input,
.inlineForm #archetypes-fieldname-title {
    font-size: 100%;
}
