#kss-spinner {
    display:none;
    width: 20px;
    height: 20px;
    position: fixed;
    background-position: center middle;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
}
