Source: zope-cmfplone
Section: web
Priority: optional
Maintainer: Christian Heimes <heimes@faho.rwth-aachen.de>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.0

Package: zope-cmfplone
Architecture: any
Depends: zope-formulator (>= 1.6.2), zope-cmf (>= 1.4.4), zope-pts (>= 1.0),
 zope-cmfactionicons (>= 0.9), zope-groupuserfolder (>= 2.0.0.a), zope-cmfquickinstaller (>= 1.4),
 zope-btreefolder2 (>= 1.0.0-2), zope-cmfformcontroller (>= 1.0.1), zope-ploneerrorreporting
Conflicts: zope-localizer, zope-translationservice
Description: Zope CMF Plone Portal Software 2
 Plone is a highly advanced and powerfull for internet portals based on Zope's
 CMF (content management framework). It adds a lot of features to CMF and 
 integrates other CMF and Plone software to an easy-to-use and out-of-the-box
 content management system.
 .
 Plone 2 features:
  * Group user folder integration for sharing content between both users and groups
  * Integration of dublin core (DC) metadata
  * DCWorkflow
  * A highly advanced Tableless CSS layout following css standards
  * Fully XHTML compatible html sources

Package: plone
Architecture: any
Depends: python, zope (>= 2.6), zope-formulator (>= 1.6.2), zope-cmf (>= 1.4.4), zope-cmfcore (>= 1.4.4), 
 zope-cmfcalendar (>= 1.4.4), zope-cmftopic (>= 1.4.4), zope-cmfdefault (>= 1.4.4),
 zope-dcworkflow (>= 1.4.4), zope-pts (>= 1.0), zope-cmfactionicons (>= 0.9),
 zope-groupuserfolder (>= 2.0.0.a), zope-cmfquickinstaller (>= 1.4), zope-btreefolder2 (>= 1.0.0-2),
 zope-cmfformcontroller, zope-cmfphoto (>= 0.4.2), zope-cmfphotoalbum (>= 0.4),
 zope-cmfarchetypes (>= 1.3.0), zope-cmfplone (>= 2.0.3-1), zope-ploneerrorreporting
Suggests: zope-speedpack 
Conflicts: plone2
Replaces: plone2
Description: CMF Plone 2 meta package
 Plone 2 meta package containing all software to make your own portal based
 on plone.
