Plone 2.0 Requirements

  - CMF1.4 (contains DCWorkflow) found at http://cmf.zope.org/download/CMF-1.4
  
  - (Optionally) BTreeFolder2 found at http://hathaway.freezope.org/Software/BTreeFolder2

  - PlacelessTranslationService found at http://www.zope.org/Members/lalo/PlacelessTranslationService

  - Formulator found at http://www.zope.org/Members/faassen/Formulator  

  - CMFQuickInstallerTool found at (the collective) http://sourceforge.net/projects/collective

  - CMFActionIcons found at http://cvs.zope.org/Products/CMFActionIcons
    
  - ExternalEditor found at http://www.zope.org/Members/Caseman/ExternalEditor
